<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Over ons</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">

  <!-- Custom -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  @@include("../blocks/modules/header/header.html", {})

  <main class='main simple'>
    <section class='section about'>
      <div class="container">
        <h1 class='simple__title text-center'>Over ons</h1>
        <div class="simple__block">
          <h2 class="simple__subtitle upper">1. HET AMERIKAANSE BEDRIJF IROBOT CORPORATION IS EEN FABRIKANT VAN ROBOTS
            DIE
            HET MENSELIJK LEVEN VOLLEDIG VERANDEREN. </h2>
          <div class='simple__descr'>
            <p>Robots vervangen mensen waar hun leven in gevaar is, bijvoorbeeld door mijnen te ruimen, de diepten van
              de oceaan en andere planeten te verkennen. Het is moeilijk om alle gebieden op te sommen waarvoor iRobot
              Corporation zich momenteel ontwikkelt. Het volstaat om een robot te noemen - een onderzoeker of een
              reddingsrobot.</p>
          </div>
        </div>

        <div class="simple__block">
          <h2 class="simple__subtitle upper">2. TENSLOTTE KUNNEN ROBOTS SAAI EN ONINTERESSANT WERK VOOR ONS DOEN, ZOALS
            HET
            SCHOONMAKEN VAN DE VLOER. </h2>
          <div class='simple__descr'>
            <p>
              Het bedrijf iRobot Corporation werd in 1990 in de Verenigde Staten opgericht. Aanvankelijk waren haar
              activiteiten gericht op het dienen van Amerikaanse militaire orders en het NASA ruimtevaartprogramma.
            </p>
            <p>
              Momenteel is het bedrijf iRobot een leider in het segment van de robotica en heeft het een
              wetenschappelijke en productiebasis in het Massachusetts Institute of Technology in Cambridge (VS),
              evenals productie- en assemblagefabrieken in vele landen.
            </p>
          </div>
        </div>

        <div class="simple__block">
          <h2 class="simple__subtitle upper">3. ALLE WETENSCHAPPELIJKE EN ONDERZOEKSWERKZAAMHEDEN WORDEN UITGEVOERD IN
            DE
            LABORATORIA VAN HET MASSACHUSETTS INSTITUTE OF TECHNOLOGY. </h2>
          <div class='simple__descr'>
            <p>
              Het bedrijf heeft kantoren in Bedford en Washington (VS) en een kantoor in Londen (VK) is speciaal geopend
              voor de klantenservice in Europa. Rijke ervaring in de ontwikkeling van complexe robots voor speciale
              doeleinden, een sterke onderzoeksbasis, de beste experts op het gebied van robotica, de constante
              zoektocht naar nieuwe mogelijkheden en de ontwikkeling van nieuwe modellen - de componenten van het succes
              van het bedrijf.
            </p>
            <p>
              Alle producten worden grondig getest in fabriekslaboratoria. De kwaliteit van de producten voldoet aan de
              Europese ISO 9001-certificaten. Tot nu toe hebben meer dan 15 miljoen eigenaren van huisrobots in de VS en
              West-Europa de voordelen van de revolutionaire iRobot-technologie weten te waarderen.
            </p>
            <p>
              Onze online winkel verkoopt robotstofzuigers iRobot voor meer dan 3 jaar. In deze periode hebben we meer
              dan 25.000 stofzuigers verkocht.
            </p>
          </div>
        </div>


      </div>
    </section>
  </main>

  @@include("../blocks/modules/footer/footer.html", {})

  <!-- Scripts -->
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>