<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>iRobot Roomba 960</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">

  <!-- Custom -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  @@include("../blocks/modules/header/header.html", {})

  <main class='main'>

    <section class='product__head container'>
      <div class="row-flex j-between">
        <div class="breadcrumbs flex a-center col">
          <a href="./index.html">Startpagina</a>
          <a class='active js-product' data-product-value='name' href="#">iRobot Roomba 698</a>
        </div>
        <div class="product-nav flex a-center col">
          <a class='product-nav__prev' href="./product-roomba671.html">&#x276E;&nbsp;&nbsp;Vorige</a>
          <a class='product-nav__next' href="./product-roomba960.html">Volgende&nbsp;&nbsp;&#x276F;</a>
        </div>
      </div>
    </section>

    <section class="product" data-product-id='698'>
      <div class="container">
        <div class="portfolio">
          <div class="portfolio-main">
            <div class='portfolio-main__item'>
              <img src="img/products/698/1.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/2.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/3.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/4.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/5.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/6.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/7.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/8.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/9.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/10.jpeg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/698/11.jpeg" alt="">
            </div>
          </div>
          <div class="portfolio-nav">
            <div class='portfolio-nav__item'>
              <img src="img/products/698/1.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/2.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/3.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/4.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/5.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/6.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/7.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/8.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/9.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/10.jpeg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/698/11.jpeg" alt="">
            </div>
          </div>
        </div>

        <div class="product__info-wrap row-flex">
          <div class="product__info col">
            <h1 class="product__title js-product" data-product-value='name'>
              iRobot Roomba 698
            </h1>
            <div class="product__descr">
              <ul class='product__block'>
                <li>De systematische schoonmaakroute zorgt ervoor dat de robot geen delen overslaat. (+)</li>
                <li>Wanneer de accu leeg raakt, rijdt de robotstofzuiger zelf terug naar het dockingstation om op te
                  laden. (+)</li>
                <li>Het is niet mogelijk de robotstofzuiger vooruit te programmeren. (-)</li>
              </ul>

              <div class="product__block">
                <strong>Oplaadstation</strong>
                <p>
                  Doordat de ronddraaiende borstels van de iRobot Roomba 698 in tegengestelde richting draaien, komt
                  vuil niet vast te zitten en blijft de zuigmond vrij. Hierdoor zijn grote stofwolken en dierenharen
                  geen probleem. De robotstofzuiger herkent plekken waar meer vuil ligt en maakt hier extra grondig
                  schoon om te zorgen dat alles verdwijnt. Is de accu leeg, dan rijdt de robot zelf terug naar het
                  laadstation. Het is dus niet nodig zelf te onthouden of de accu nog vol is. Wil je vooral een goed
                  schoonmaakresultaat en zijn veel extra's voor jou niet nodig, dan is deze basisrobot van Roomba een
                  goede keuze voor jou. Je activeert de robotstofzuiger gemakkelijk via de iRobot app.
                </p>
              </div>

              <div class="product__block">
                <strong>Standaard meegeleverd
                </strong>
                <ul>
                  <li>Handleiding</li>
                  <li>Oplaadstation</li>
                </ul>
              </div>
            </div>

            <div class="product__spec">
              <div class="product__spec-block">
                <div class="product__table-title">Specificaties Product</div>
                <table class='product__table'>
                  <tr>
                    <td>Artikelnummer</td>
                    <td>865049</td>
                  </tr>
                  <tr>
                    <td>Fabrikantcode</td>
                    <td>R698040</td>
                  </tr>
                  <tr>
                    <td>Merk</td>
                    <td>iRobot</td>
                  </tr>
                  <tr>
                    <td>Garantie</td>
                    <td>2 jaar</td>
                  </tr>
                  <tr>
                    <td>Garantietype</td>
                    <td>Carry-in-garantie</td>
                  </tr>
                  <tr>
                    <td>Oude apparaat gratis retour</td>
                    <td>+</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Kwalitatieve eigenschappen</div>
                <table class='product__table'>
                  <tr>
                    <td>Bouwkwaliteit</td>
                    <td>Topklasse</td>
                  </tr>
                  <tr>
                    <td>Gebruikscomfort</td>
                    <td>Topklasse</td>
                  </tr>
                  <tr>
                    <td>Schoonmaakkwaliteit</td>
                    <td>Middenklasse</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Schoonmaakresultaat</div>
                <table class='product__table'>
                  <tr>
                    <td>Wijze van stofopname</td>
                    <td>Via zuigmond en middenborstels</td>
                  </tr>
                  <tr>
                    <td>Geschikt voor laagpolig tapijt</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Geschikt voor hoog polig tapijt</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Geschikt voor donkere vloeren</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Geschikt voor drempels</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Maximale hoogte drempel</td>
                    <td>1,6 cm</td>
                  </tr>
                  <tr>
                    <td>Tegen dierenharen</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Dweilfunctie</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>Vuildetectie</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Maximale zuigoppervlakte per acculading</td>
                    <td>100 m2</td>
                  </tr>
                  <tr>
                    <td>Anti-vastloop functie</td>
                    <td>+</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Algemene eigenschappen</div>
                <table class='product__table'>
                  <tr>
                    <td>Volume opvang</td>
                    <td>0,6 l</td>
                  </tr>
                  <tr>
                    <td>Compatibel met smartphone / apps</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Gebruik buiten wifi netwerk</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Smart home platform</td>
                    <td>Amazon Alexa, Google Assistant</td>
                  </tr>
                  <tr>
                    <td>Borstels (robotstofzuigers)</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Middenborstels (robotstofzuigers)</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Zijborstels (robotstofzuigers)</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Aantal zijborstels (robotstofzuigers)</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Instelbaar tijdschema</td>
                    <td>Programmeerbaar tijdschema, Programmeerbaar tijdschema via app, Startuitstel</td>
                  </tr>
                  <tr>
                    <td>Maximaal geluidsniveau</td>
                    <td>58 dB</td>
                  </tr>
                  <tr>
                    <td>Turbo Power Functie</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>Uitblaasfilter</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Hepa-filter</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Type HEPA-filter</td>
                    <td>HEPA 12: 95% filtering</td>
                  </tr>
                  <tr>
                    <td>Ingebouwde camera</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Loopt niet vast op kabels</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Tegen allergieën</td>
                    <td>+</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Navigatie</div>
                <table class='product__table'>
                  <tr>
                    <td>Schoonmaakroute</td>
                    <td>Systematisch</td>
                  </tr>
                  <tr>
                    <td>Automatische update navigatiekaart</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Gebiedsafbakening</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Afgrondsensoren</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Virtuele muur meegeleverd</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Navigatiemethode</td>
                    <td>Zelflerend</td>
                  </tr>
                  <tr>
                    <td>Type gebiedsafbakening</td>
                    <td>Virtuele muur</td>
                  </tr>
                  <tr>
                    <td>Touch sensoren</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Afstandsensoren</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Op afstand bestuurbaar</td>
                    <td>Bestuurbaar op afstand met mobiel</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Accessoires</div>
                <table class='product__table'>
                  <tr>
                    <td>Afstandsbediening meegeleverd</td>
                    <td>-</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Stroomvoorziening</div>
                <table class='product__table'>
                  <tr>
                    <td>Type stroomvoorziening</td>
                    <td>Accu / batterij</td>
                  </tr>
                  <tr>
                    <td>Terugkeer naar laadstation</td>
                    <td>Automatisch</td>
                  </tr>
                  <tr>
                    <td>Oplaadtijd accu</td>
                    <td>3 uren</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Fysieke eigenschappen</div>
                <table class='product__table'>
                  <tr>
                    <td>Gewicht</td>
                    <td>3,9 kg</td>
                  </tr>
                  <tr>
                    <td>Kleur</td>
                    <td>Grijs</td>
                  </tr>
                  <tr>
                    <td>Materiaal</td>
                    <td>Kunststof</td>
                  </tr>
                  <tr>
                    <td>Vorm</td>
                    <td>Rond</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="product__action col">
            <div class="product__action-inner">
              <div class="product__price flex a-center">
                <div class="product__price-old js-product" data-product-value='oldPice'>€ 299,00 </div>
                <div class="product__price-new js-product" data-product-value='newPrice'>€ 279,00</div>
              </div>
              <div class="product__count-wrap">
                <div class="product__count-title">Aantal</div>
                <div class="count product__count flex">
                  <button class='btn count__btn count__minus'>-</button>
                  <input value='1' class='count__input input' type="text" disabled>
                  <button class='btn count__btn count__plus'>+</button>
                </div>
              </div>
              <button class="btn btn_blue product__buy w-100">In winkelwagen</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  @@include("../blocks/modules/footer/footer.html", {})

  <!-- Scripts -->
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>