<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Title</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">

  <!-- Custom -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css" />



  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  @@include("../blocks/modules/header/header.html", {})

  <main class='main'>

    <section class='product__head container'>
      <div class="row-flex j-between">
        <div class="breadcrumbs flex a-center col">
          <a href="">Startpagina</a>
          <a class='active' href="">iRobot Roomba s9+</a>
        </div>
        <div class="product-nav flex a-center col">
          <a class='product-nav__prev' href="">&#x276E;&nbsp;&nbsp;Vorige</a>
          <a class='product-nav__next' href="">Volgende&nbsp;&nbsp;&#x276F;</a>
        </div>
      </div>
    </section>

    <section class="product">
      <div class="container">
        <div class="product__portfolio">
          <div class="product__potrfolio-main">
            <div class='product__portfolio-item'>
              <img src="img/products/960/1.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/2.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/3.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/4.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/5.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/6.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/7.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/8.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/9.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/10.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/11.jpeg" alt="">
            </div>
            <div class='product__portfolio-item'>
              <img src="img/products/960/12.jpeg" alt="">
            </div>
          </div>
          <div class="product__portfolio-nav">
            <div>
              <h3>1</h3>
            </div>
            <div>
              <h3>2</h3>
            </div>
            <div>
              <h3>3</h3>
            </div>
            <div>
              <h3>4</h3>
            </div>
            <div>
              <h3>5</h3>
            </div>
          </div>
        </div>

        <div class="product__info-wrap row-flex">
          <div class="product__info col">
            <h1 class="product__title">
              iRobot Roomba i7
            </h1>
            <div class="product__descr">
              <div class="product__block">
                <p>
                  De iRobot Roomba i7 rijdt met een hoge zuigkracht systematisch door je huis en slaat zo geen ruimtes
                  over. In vergelijking met de eerdere Roomba 600-serie robotstofzuigers, heeft deze robot 10 keer meer
                  zuigkracht. Hierdoor belandt zelfs het fijnstof in het reservoir.
                </p>
              </div>
              <div class="product__block">
                <strong>Besturing en Smart Home</strong>
                <p>
                  Je bestuurt de robotstofzuiger via een app op je telefoon. Hierop zie je precies waar de robot is en
                  stel je schoonmaakschema's in. Zit je net lekker op de bank en ligt je telefoon niet binnen
                  handbereik?
                  Geef dan aan Google Home of Amazon Alexa de opdracht om de robot te starten.
                </p>
              </div>
              <div class="product__block">
                <strong>Gebiedsafbakening</strong>
                <p>
                  Je ontvangt bij deze robotstofzuiger ook een virtuele muur in de vorm van een vuurtoren. Deze zet je
                  eenvoudig neer wanneer je wilt dat de robot bepaalde gedeeltes van het huis niet betreedt. Handig, als
                  de kinderen net een kaartenhuis hebben gebouwd.
                </p>
              </div>
            </div>

            <div class="product__spec">
              <div class="product__spec-block">
                <div class="product__table-title">Specificaties Product</div>
                <table class='product__table'>
                  <tr>
                    <td>Fabrikantcode</td>
                    <td>i715040</td>
                  </tr>
                  <tr>
                    <td>Merk</td>
                    <td>iRobot</td>
                  </tr>
                  <tr>
                    <td>Garantie</td>
                    <td>2 jaar</td>
                  </tr>
                  <tr>
                    <td>Garantietype</td>
                    <td>Carry-in-garantie</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Specificaties Product</div>
                <table class='product__table'>
                  <tr>
                    <td>Fabrikantcode</td>
                    <td>i715040</td>
                  </tr>
                  <tr>
                    <td>Merk</td>
                    <td>iRobot</td>
                  </tr>
                  <tr>
                    <td>Garantie</td>
                    <td>2 jaar</td>
                  </tr>
                  <tr>
                    <td>Garantietype</td>
                    <td>Carry-in-garantie</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Specificaties Product</div>
                <table class='product__table'>
                  <tr>
                    <td>Fabrikantcode</td>
                    <td>i715040</td>
                  </tr>
                  <tr>
                    <td>Merk</td>
                    <td>iRobot</td>
                  </tr>
                  <tr>
                    <td>Garantie</td>
                    <td>2 jaar</td>
                  </tr>
                  <tr>
                    <td>Garantietype</td>
                    <td>Carry-in-garantie</td>
                  </tr>
                </table>
              </div>

              <div class="product__spec-block">
                <div class="product__table-title">Specificaties Product</div>
                <table class='product__table'>
                  <tr>
                    <td>Fabrikantcode</td>
                    <td>i715040</td>
                  </tr>
                  <tr>
                    <td>Merk</td>
                    <td>iRobot</td>
                  </tr>
                  <tr>
                    <td>Garantie</td>
                    <td>2 jaar</td>
                  </tr>
                  <tr>
                    <td>Garantietype</td>
                    <td>Carry-in-garantie</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="product__action col">
            <div class="product__action-inner">
              <div class="product__price flex a-center">
                <div class="product__price-old">€ 1.299,00 </div>
                <div class="product__price-new">€ 599,00</div>
              </div>
              <div class="product__count">
                <div class="product__count-title">Aantal</div>
                <input class='input' type="number" pattern="[0-9]*" aria-label="Aantal" max="99999" min="1" value="1">
              </div>
              <button class="btn btn_blue product__buy w-100">In winkelwagen</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  @@include("../blocks/modules/footer/footer.html", {})

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script>
    $('.product__potrfolio-main').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.product__portfolio-nav'
    });
    $('.product__portfolio-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.product__potrfolio-main',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
  </script>

  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
  <script>
    const products = [
      {
        name: 'iRobot Roomba 960',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba e5',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba i7 robotstofzuiger + iRobot Braava M6138 dweil',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba s9+',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba i7',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba i7+',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba 975',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba 698',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba 605',
        image: '',
        oldPrice: 123,
        newPrice: 1
      },
      {
        name: 'iRobot Roomba 671',
        image: '',
        oldPrice: 123,
        newPrice: 1
      }
    ]
  </script>
</body>

</html>