<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>iRobot Roomba 976 </title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">

  <!-- Custom -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  @@include("../blocks/modules/header/header.html", {})

  <main class='main'>

    <section class='product__head container'>
      <div class="row-flex j-between">
        <div class="breadcrumbs flex a-center col">
          <a href="./index.html">Startpagina</a>
          <a class='active js-product' href="#" data-product-value='name'>iRobot Roomba 960</a>
        </div>
        <div class="product-nav flex a-center col">
          <a class='product-nav__prev' href="./product-roomba975.html">&#x276E;&nbsp;&nbsp;Vorige</a>
          <a class='product-nav__next' href="./product-roombae5.html">Volgende&nbsp;&nbsp;&#x276F;</a>
        </div>
      </div>
    </section>

    <section class="product" data-product-id='976'>
      <div class="container">
        <div class="portfolio">
          <div class="portfolio-main">
            <div class='portfolio-main__item'>
              <img src="img/products/976/1.jpg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/976/2.jpg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/976/3.jpg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/976/4.jpg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/976/5.jpg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/976/6.jpg" alt="">
            </div>
            <div class='portfolio-main__item'>
              <img src="img/products/976/7.jpg" alt="">
            </div>
          </div>
          <div class="portfolio-nav">
            <div class='portfolio-nav__item'>
              <img src="img/products/976/1.jpg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/976/2.jpg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/976/3.jpg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/976/4.jpg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/976/5.jpg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/976/6.jpg" alt="">
            </div>
            <div class='portfolio-nav__item'>
              <img src="img/products/976/7.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="product__info-wrap row-flex">
          <div class="product__info col">
            <h1 class="product__title js-product" data-product-value='name'></h1>
            <div class="product__descr">
              <div class="product__block">
                <strong>Productinformatie</strong>
                <p>
                  Roomba 976 navigeert moeiteloos door een complete woonlaag van jouw huis, houdt bij waar hij zich bevindt en laadt zichzelf op tot het werk is gedaan. Het AeroForce 3-staps reinigingssysteem levert meer zuigkracht met de 2e generatie motor voor minder onderhoud en betere reinigingsprestaties, en met de iRobot HOME App kun je reiniging van afstand plannen en uitvoeren. 
                </p>
              </div>

              <div class="product__block">
                <strong>Reinigt een complete woonlaag</strong>
                <p>
                  iAdapt 2.0 Navigation met visuele lokalisatie zorgt ervoor dat Roomba 976 moeiteloos en efficiënt navigeert in de verschillende vertrekken van een complete woonlaag en bovendien steeds zijn eigen locatie bijhoudt.
                </p>
              </div>

              <div class="product__block">
                <strong>Moeiteloze en efficiënte navigatie door meerdere ruimtes</strong>
                <p>
                  De robot gebruikt een zeer efficiënt reinigingspatroon en een heel scala aan sensoren, waardoor de hij zich kan aanpassen aan de dagelijkse rommel en meubels die hij tegenkomt. Zo kan de robot jouw huis grondig reinigen in alle hoeken en gaten. <br>
                  Detecteert vuil dat makkelijk over het hoofd wordt gezien. Gebruikt optische en akoestische sensoren om plekken met hoge concentraties vuil, stof en huisdierharen te detecteren en reinigt extra grondig waar dat nodig is. Door het lage ontwerp kan Roomba ook reinigen onder de meeste meubels, waardoor er geen verborgen stofnesten kunnen ontstaan.
                </p>
              </div>

              <div class="product__block">
                <strong>Maak verbinding om jouw vloer op afstand te reinigen</strong>
                <p>
                  Met de iRobot HOME App kun je jouw stofzuigrobot heel handig overal en op elk gewenst moment programmeren en starten. Kies speciale reinigingsvoorkeuren en bekijk de status van reinigingstaken. In de Clean Map-rapporten kun je zien waar jouw robot heeft gereinigd en kun je ook allerlei andere details bekijken, zoals het dekkingsgebied en de duur van voltooide taken. Je kunt bovendien pushmeldingen ontvangen wanneer jouw robot een reinigingstaak heeft voltooid: gewoon op jouw smartphone.
                </p>
              </div>

              <div class="product__block">
                <strong>Kan probleemloos haren verwerken</strong>
                <p>
                  De extractors zonder borstelharen voorkomen dat haar en ander stof zich ophoopt en dat er verstoppingen ontstaan, waardoor Roomba de dagelijkse portie stof nog beter de baas is. Je kunt Roomba zo programmeren dat deze maximaal zeven keer per week stofzuigt zodat jouw huis elke dag schoon blijft. Roomba heeft een speciaal lampje dat aangeeft wanneer de opvangbak vol raakt en moet worden geleegd. Je kunt het niveau en de status van de opvangbak ook bekijken in de iRobot HOME App.
                </p>
              </div>

              <div class="product__block">
                <strong>Reinigt alle vloertypen</strong>
                <p>
                  Roomba past zich automatisch aan verschillende vloersoorten aan terwijl deze zich door jouw huis beweegt en reinigt net zo gemakkelijk tapijt als tegels, hardhouten vloeren en laminaatvloeren. Keert automatisch terug naar het oplaadstation en laadt zichzelf op: Roomba is altijd klaar om te reinigen omdat hij na het reinigen automatisch terugkeert naar zijn Home Base om zich op te laden.
                </p>
              </div>

              <div class="product__block">
                <strong>Tot 50% betere reinigingsprestaties</strong>
                <p>
                  Het AeroForce 3-staps reinigingssysteem beschikt over vuilextractors en de 2e generatie motor voor betere reinigingsprestaties en lagere onderhoudskosten. De dubbele, tegengesteld draaiende extractors hebben een duurzaam rubberen loopvlak dat vuil van elk vloertype opneemt en klitten van de borstelharen en onderhoud aan de borstel verminderd. Veegt langs wanden en in hoeken: de draaiende zijborstel zorgt ervoor dat stof en haren in de baan van het 3-staps reinigingssysteem terechtkomen. Filtert 99% van alle allergenen, pollen en deeltjes: vangt deeltjes zo klein 10 micron met het hoogefficiënt AeroForce filter. 
                </p>
              </div>
            </div>

            <div class="product__spec">
              <div class="product__spec-block">
                <div class="product__table-title">Design</div>
                <table class="product__table">
                  <tr>
                    <td>Soort stofopvang</td>
                    <td>Zakloos</td>
                  </tr>
                  <tr>
                    <td>Stof capaciteit	</td>
                    <td>0.6 l</td>
                  </tr>
                  <tr>
                    <td>Kleur van het product	</td>
                    <td>Black, Brown</td>
                  </tr>
                </table>
              </div>
              <div class="product__spec-block">
                <div class="product__table-title">Prestatie</div>
                <table class="product__table">
                  <tr>
                    <td>Reinigt ondergronden</td>
                    <td>Tapijt, Harde vloeren</td>
                  </tr>
                  <tr>
                    <td>HEPA filtersysteem</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>Geluidsniveau</td>
                    <td>56 dB</td>
                  </tr>
                  <tr>
                    <td>Trapdetectie</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Automatisch terug naar basisstation	</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Stofzuigerprogramma's	</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>Op afstand bedienbaar	</td>
                    <td>+</td>
                  </tr>
                </table>
              </div>
              <div class="product__spec-block">
                <div class="product__table-title">Technische details</div>
                <table class="product__table">
                  <tr>
                    <td>Looptijd</td>
                    <td>75 min</td>
                  </tr>
                  <tr>
                    <td>Uitgestelde start timer	</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>SMART technologie	</td>
                    <td>+</td>
                  </tr>
                  <tr>
                    <td>Inclusief dockingstation	</td>
                    <td>+</td>
                  </tr>
                </table>
              </div>
              <div class="product__spec-block">
                <div class="product__table-title">Energie</div>
                <table class="product__table">
                  <tr>
                    <td>Accu/batterij energie-opslagtechnologie	</td>
                    <td>Lithium-Ion (Li-Ion)</td>
                  </tr>
                  <tr>
                    <td>Accu/batterij oplaadtijd	</td>
                    <td>3 uur</td>
                  </tr>
                  <tr>
                    <td>Accu/batterij gebruiksduur	</td>
                    <td>1.2 uur</td>
                  </tr>
                  <tr>
                    <td>Typisch stroomverbruik	</td>
                    <td>40 W</td>
                  </tr>
                </table>
              </div>
              <div class="product__spec-block">
                <div class="product__table-title">Verpakking</div>
                <table class="product__table">
                  <tr>
                    <td>Afstandsbediening </td>
                    <td>-</td>
                  </tr>
                </table>
              </div>
              <div class="product__spec-block">
                <div class="product__table-title">Inhoud van de verpakking</div>
                <table class="product__table">
                  <tr>
                    <td>Inclusief virtuele barrière	</td>
                    <td>-</td>
                  </tr>
                </table>
              </div>
              <div class="product__spec-block">
                <div class="product__table-title">Gewicht en omvang</div>
                <table class="product__table">
                  <tr>
                    <td>Hoogte</td>
                    <td>39.1 cm</td>
                  </tr>
                  <tr>
                    <td>Breedte</td>
                    <td>35 cm</td>
                  </tr>
                  <tr>
                    <td>Diepte</td>
                    <td>35 cm</td>
                  </tr>
                  <tr>
                    <td>Diameter</td>
                    <td>35 cm</td>
                  </tr>
                  <tr>
                    <td>Gewicht</td>
                    <td>3.9 kg</td>
                  </tr>
                </table>
              </div>
              <div class="product__spec-block">
                <div class="product__table-title">Productdetails</div>
                <table class="product__table">
                  <tr>
                    <td>EAN</td>
                    <td>5060629983448</td>
                  </tr>
                  <tr>
                    <td>Merk</td>
                    <td>iRobot</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td>ROOMBA 976</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="product__action col">
            <div class="product__action-inner">
              <div class="product__price flex a-center">
                <div class="product__price-old js-product" data-product-value='oldPrice'></div>
                <div class="product__price-new js-product" data-product-value='newPrice'>€ 439,00</div>
              </div>
              <div class="product__count-wrap">
                <div class="product__count-title">Aantal</div>
                <div class="count product__count flex">
                  <button class='btn count__btn count__minus'>-</button>
                  <input value='1' class='count__input input' type="text" disabled>
                  <button class='btn count__btn count__plus'>+</button>
                </div>
              </div>
              <button class="btn btn_blue product__buy w-100">In winkelwagen</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  @@include("../blocks/modules/footer/footer.html", {})

  <!-- Scripts -->
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>